<!-- userChanges.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Changes</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
</head>
<body>
<h2>Отчёт по: <a th:href="@{${userLink}}" th:text="${userId}">Ссылка</a></h2>
<h3>Период: с <span th:text="${request.fromDate}"></span> по <span th:text="${request.toDate}"></span></h3>

<table>
    <thead>
    <tr>
        <th>Ссылка</th>
        <th>Наименование</th>
        <th>Размер</th>
        <th>Дата создания</th>
        <th>Дата закрытия</th>
        <th>Всего строк кода добавлено</th>
        <th>Всего строк кода удалено</th>
        <th>Всего комментариев</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="change : ${changes}">
        <tr>
            <td><a th:href="@{${change.link}}" th:text="${change.linkName}">Ссылка</a></td>
            <td th:text="${change.name}"></td>
            <td th:text="${change.size}"></td>
            <td th:text="${#temporals.format(change.createDate, 'HH:mm, d MMMM yyyy')}"></td>
            <td th:text="${#temporals.format(change.closeDate, 'HH:mm, d MMMM yyyy')}"></td>
            <td th:text="${change.totalLinesAdded}"></td>
            <td th:text="${change.totalLinesRemoved}"></td>
            <td th:text="${change.totalComments}"></td>
        </tr>
    </th:block>
    </tbody>
</table>

</body>
</html>